@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.background{
    background-image: -webkit-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
    width: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins';
}

p{
    font-family: 'Roboto';
}

nav{
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 80px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 10px;
    position: relative;
}

nav img{
    width: 150px;
    height: 40px;
    cursor: pointer;
}

nav ul{
    display: flex;
    align-items: center;
    transition: 0.5s;
}

nav ul li{
    padding-left: 30px;
}

nav ul li a{
    color: white;
    position: relative;
}

nav ul li a::after{
    content: '';
    position: absolute;
    height: 2px;
    background-color: white;
    width: 0;
    left: 0;
    right: 3px;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}

nav .menu{
    display: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
    position: relative;
    z-index: 101;
}


/* Section 1 */

.sec1{
    width: 100%;
    padding: 6.25rem 20px;
}

.sec1 .container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec1 .container .left{
    color: white;
    width: 1090px;
}

.sec1 .container .right{
    width: 750px;
}

.sec1 .container .right img{
    width: 100%;
}

.sec1 .container .left h2{
    font-weight:bold;
}

.sec1 .container .left p{
    padding: 1rem 0 2.5rem 0;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 25px;
}

.sec1 .container h2{
    font-size: 2.7em;
    line-height: 55px;
    font-weight: 600;
}

.sec1 .container .btn button{
    padding: 0.5rem 1rem;
    width: 150px;
    border-radius: 40px;
    height: 45px;
    border: none;
    cursor: pointer;
    outline: none;
    letter-spacing: 1.6px;
    font-weight: 600;
    font-size: 0.8rem;
}

.sec1 .container .btn .active{
    background: white;
    color: rgb(103, 197, 226);
}

.sec1 .container .btn .start{
    margin-left: 1.5rem;
    background: #38B3FF;
    color: white;
    border: 2px solid white;
}


@media screen and (max-width: 900px){
    nav ul{
        flex-direction: column;
        position: absolute;
        left: 0;
        background: #42be99;
        width: 100%;
        top: 0;
        transform: translateY(-700px);
        font-size: 1.3em;
        transition: 0.5s;
        z-index: 100;
    }

    nav ul li{
        padding: 2.2rem 0;
        width: 100%;
        text-align: center;
    }

    nav ul li a{
        display: block;
    }

    nav ul.active{
        display: flex;
        transition: 0.3s;
        transform: translateY(0px);
    }

    nav .menu{
        display: block;
    }

    nav ul li a::after{
        display: none;
    }
}


@media screen and (max-width: 800px){
    .sec1{
        padding: 4.25rem 0;
    }
    
    .sec1 .container{
        flex-direction: column;
        padding: 0 20px;
    }

    .sec1 .container .left{
        width: 100%;
        text-align: center;
    }

    .sec1 .container .right{
        width: 100%;
        margin-top: 2rem;
        text-align: center;
    }
}


@media screen and (max-width: 450px){
    .sec1 .container .left h2{
        font-size: 2em;
    }
}

@media screen and (max-width: 370px){
    .sec1 .container .left .active{
        width: 100%;
    }

    .sec1 .container .left .start{
        width: 100%;
        margin: 1rem 0 0 0;
    }
}


/* Section 2 */

.sec2{
    width: 100%;
    padding: 7.25rem 0;
}

.sec2 .container{
    padding: 0 20px;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec2 .title{
    text-align: center;
    margin-bottom: 3em;
}

.sec2 .title a{
    padding: 0.5rem 2rem;
    border-radius: 15px;
    background: #dbecff;
    color: white;
    letter-spacing: 1.2px;
}

.sec2 .title h2{
    padding-top: 1.5rem;
    font-size: 2em;
    color:#3c96ff
}

.sec2 .container .left{
    padding: 0 15px;
    width: 33,33333%;
}

.sec2 .container .bloc{
    display: flex;
    cursor: pointer;
    margin-bottom: 2em;
}

.sec2 .container .bloc h2{
    padding-bottom: 0.5rem;
    transition: 0.5s;
}

.sec2 .container .bloc p{
    width: 320px;
    color: rgb(136, 136, 136);
    line-height: 27px;
    font-size: 0.9rem;
}

.sec2 .container .bloc .rond{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: -webkit-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
    position: relative;
    transition: 1s;
}

.sec2 .container .bloc .rond i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3em;
    color: white;
}


.sec2 .container .left .bloc .titre{
    padding-right: 1rem;
}

.sec2 .container .left .bloc{
    text-align: right;
}

.sec2 .container .mid{
    padding: 0 15px;
    width: 33,33%;
}

.sec2 .container .mid img{
    width: 350px;
}

.sec2 .container .right{
    padding: 0 15px;
    width: 33,33333%;
}

.sec2 .container .right .bloc .titre{
    padding-left: 15px;
}


.sec2 .container .bloc:hover .rond{
    transform: rotate(360deg);
}

.sec2 .container .bloc:hover h2{
    color: #6672e2;
}

@media screen and (max-width: 1250px){
    .sec2 .container .bloc p{
        width: 250px;
    }
}

@media screen and (max-width: 1100px){
    .sec2 .container .mid img{
        width: 250px;
    }
}

@media screen and (max-width: 1000px){
    .sec2 .container {
        flex-direction: column;
    }

    .sec2 .container .left{
        width: 100%;
        text-align: center;
    }

    .sec2 .container .bloc h2{
        padding: 2rem 0 0 0;
    }

    .sec2 .container .bloc p{
        width: 500px;
        padding: 1rem 0;
        font-size: 1.2em;
    }

    .sec2 .container .left .bloc{
        flex-direction: column-reverse;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .sec2 .container .left .bloc{
        text-align: center;
    }

    .sec2 .container .right{
        margin-top: 1.5rem;
    }

    .sec2 .container .right .bloc{
        flex-direction: column;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .sec2 .container .right .bloc .titre{
        padding: 0;
    }
}


@media screen and (max-width: 550px){
    .sec2 .container .mid img{
        width: 100%;
    }

    .sec2 .container .bloc p{
        width: 100%;
    }
}


/* Section 3 */

.sec3{
    width: 100%;
    padding: 4.25rem 0;
    background-image: -webkit-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);;
}

.sec3 .container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sec3 .container .rond{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #f1f1f1;
    color: #3c96ff;
    position: relative;
    cursor: pointer;
}

.sec3 .container .rond i{
    position: absolute;
    font-size: 1.9em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sec3 .container h2{
    padding-top: 1rem;
    font-size: 2em;
    color: white;
}

/* Section 4 */

.sec4{
    width: 100%;
    padding: 4.25rem 20px;
}

.sec4 .container{
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sec4 .container .content{
    margin-bottom: 3em;
    width: 100%;
}

.sec4 .container .content-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec4 .container .content .title a{
    padding: 0.5rem 2rem;
    color: #333;
    background: #dbecff;
    border-radius: 20px;
}

.sec4 .container .content .title h1{
    padding: 2rem 0;
    font-weight: 500;
    font-size: 1.9em;
}

.sec4 .container .content-top .right p{
    color: rgb(146, 146, 146);
    font-size: 0.9em;
    line-height: 25px;
    margin-bottom: 1.5rem;
}

.sec4 .container .content-top .right{
    width: 570px;
    padding: 0 20px;
}

.sec4 .container .content a{
    color: #38B3FF;
}

.sec4 .container .content img{
    width: 550px;
}

/* Content-bottom */

.sec4 .container .content-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec4 .container .content-bottom .left{
    width: 570px;
    padding: 0 20px;
}

.sec4 .container .content-bottom .left p{
    color: rgb(146, 146, 146);
    font-size: 0.9em;
    line-height: 25px;
    margin-bottom: 1.5rem;
}


@media screen and (max-width: 850px){
    .sec4 .container .content-top{
        flex-direction: column;
    }

    .sec4 .container .content-bottom{
        flex-direction: column-reverse;
    }

    .sec4 .container .content-top .right{
        text-align: left;
        padding: 2rem 0;
    }

    .sec4 .container .content-bottom .left{
        text-align: left;
        padding: 3rem 0 0 0;
    }
}

@media screen and (max-width: 600px){
    .sec4 .container .content img{
        width: 100%;
    }

    .sec4 .container .content-top .right{
        width: 100%;
    }

    .sec4 .container .content-bottom .left{
        width: 100%;
    }
}

/* Section 5 */

.sec5{
    width: 100%;
    padding: 4.25rem 0;
    background: #F6FBFD;
}

.sec5 .container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.sec5 .container .title{
    margin-bottom: 2em;
}

.sec5 .container .title a{
    padding: 0.5rem 2rem;
    border-radius: 15px;
    background: #80b0e7;
    color: white;
    letter-spacing: 1.2px;
}

.sec5 .container .title h2{
    padding-top: 1.5rem;
    font-size: 2em;
    color:#3c96ff
}

.sec5 .container .content{
    display: none;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
    flex-wrap: wrap;
}

.sec5 .container .content.active{
    display: flex;
    transition: 0.3s;
}

.sec5 .container .content .cadre{
    margin: 0 15px;
    cursor: pointer;
}

.sec5 .container .content .cadre img{
    border-radius: 10px;
}

.sec5 .container .point{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec5 .container .point .petit-rond{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(247, 250, 247);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 30px 5px;
    transition: 0.3s;
}

.sec5 .container .point .petit-rond.active{
    background: #3c96ff;
}


@media screen and (max-width: 1120px){

    .sec5 .container .content .cadre img{
        width: 200px;
    }
}


@media screen and (max-width: 920px){
    .sec5 .container .content{
        justify-content: center;
    }

    .sec5 .container .content .cadre{
        margin: 15px;
    }
}

/* Section 6 */

.sec6{
    width: 100%;
    padding: 4.25rem 0;
}

.sec6 .container{
    max-width: 1200px;
    margin: 0 auto;
}

.sec6 .container .title{
    margin-bottom: 2em;
    text-align: center;
}

.sec6 .container .title a{
    padding: 0.5rem 2rem;
    border-radius: 15px;
    background: #80b0e7;
    color: white;
    letter-spacing: 1.2px;
}

.sec6 .container .title h2{
    padding-top: 1.5rem;
    font-size: 2em;
    color:#3c96ff
}

.sec6 .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sec6 .container .content .card{
    width: 260px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin: 20px;  
    overflow: hidden;
    position: relative;
}

.sec6 .container .content .card img{
    width: 100%;
}

.sec6 .container .content .card .name{
    padding: 1rem;
}

.sec6 .container .content .card .name h3{
    padding-bottom: 0.4rem;
}

.sec6 .container .content .card .name p{
    font-weight: bold;
    color: grey;
    font-size: 0.9em;
}

.sec6 .container .content .card .reseau{
    width: 40px;
    background: #2dfbff;
    height: 150px;
    position: absolute;
    top: 0;
    transform: translateX(-100px);
    transition: 0.4s;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.sec6 .container .content .card .reseau i{
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.2em;
    transition: 0.3s;
    width: 100%;
}

.sec6 .container .content .card:hover .reseau{
    transform: translateX(0px);
}

@media screen and (max-width: 1200px){
    .sec6 .container .content{
        justify-content: center;
    }
}

@media screen and (max-width: 600px){
    .sec6 .container .content .card{
        width: 100%;
    }
}

/* Section 7 */

.sec7{
    width: 100%;
    padding: 4.25rem 0;
    background: #F6FBFD;
    position: relative;
}

.sec7 .container{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.sec7 .container .title{
    margin-bottom: 3em;
    text-align: center;
}

.sec7 .container .title a{
    padding: 0.5rem 2rem;
    border-radius: 15px;
    background: #80b0e7;
    color: white;
    letter-spacing: 1.2px;
}

.sec7 .container .title h2{
    padding-top: 1.5rem;
    font-size: 2em;
    color:#3c96ff
}

.sec7 .container .wrapper{
    max-width: 700px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    position: relative;;
}

.sec7 .container .content-2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    padding: 1.5rem;
}


.active-contenu{
    animation: fade 0.7s forwards;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.sec7 .container .content-2 p{
    margin: 1.5rem 0;
    color: rgb(85, 85, 85);
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    font-size: 0.9rem;
}

.sec7 .container .content-2 .person{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sec7 .container .content-2 .person h4{
    color: grey;
    font-size: 0.9rem;
}

.sec7 .container .choice{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec7 .container .choice .little-rond:not(:nth-child(1)){
    margin-left: 0.5rem;
}

.sec7 .container .choice .little-rond{
    width: 15px;
    height: 15px;
    background: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.sec7 .container .choice .little-rond.active{
    background: #3c96ff;
}


@media screen and (max-width: 350px){
    .sec7 .container .content-2{
        padding: 0.5rem;
        height: 100%;
        width: 100%;
    }

    .sec7 .container .wrapper{
        height: 400px;
        padding: 1rem;
    }

}

/* Section 8 */

.sec8{
    width: 100%;
    padding: 4.25rem 0;
}

.sec8 .container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sec8 .container .part img{
    width: 140px;
    cursor: pointer;
    transition: 0.3s;
}

.sec8 .container .part img:hover{
    transform: translateY(-15px);
}


@media screen and (max-width: 800px){
    .sec8 .container .part.responsive{
        display: none;
    }
}

@media screen and (max-width: 450px){
    .sec8 .container .part.responsive2{
        display: none;
    }
}


/* Section 9 */

.sec9{
    width: 100%;
    background-image: -webkit-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
    padding: 5.25rem 0;
}

.sec9 .container{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.sec9 .container p{
    line-height: 25px;
    margin: 1rem 0 2rem 0;
    font-weight: bold;
}

.sec9 .container h2{
    font-size: 2em;
}

.sec9 .container form{
    width: 100%;
    position: relative;
}

.sec9 .container form input{
    width: 100%;
    height: 60px;
    border-radius: 30px;
    padding: 0 1.5rem;
    border: none;
    background: #38B3FF;
    color: white;
    border: 2px solid white;
    font-size: 1.3em;
}

.sec9 .container form button{
    height: 60px;
    border-radius: 30px;
    margin-top: 1.5rem;
    width: 100%;
    background: white;
    color: #3c96ff;
    border: none;
    cursor: pointer;
    left: 90%;
    font-size: 1.2em;
}


/* Section 10 */

.sec10{
    width: 100%;
    padding: 5.25rem 0;
}

.sec10 .container{
    max-width: 1150px;
    margin: 0 auto;
}

.sec10 .container .title{
    margin-bottom: 3em;
    text-align: center;
}

.sec10 .container .title a{
    padding: 0.5rem 2rem;
    border-radius: 15px;
    background: #80b0e7;
    color: white;
    letter-spacing: 1.2px;
}

.sec10 .container .title h2{
    padding-top: 2rem;
    font-size: 2em;
    color:#3c96ff
}

.sec10 .container .content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sec10 .container .content .card{
    background: white;
    padding: 25px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 330px;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s;
}

.sec10 .container .content .card h2{
    margin: 1rem 0;
    font-weight: bold;
    font-size: 1.5em;
}

.sec10 .container .content .card i{
    font-size: 2em;
    color: #3c96ff;
    margin-bottom: 1rem;
}

.sec10 .container .content .card p{
    margin-bottom: 1.5rem;
    color: rgb(148, 148, 148);
    font-weight: bold;
}

.sec10 .container .content .card h5 span{
    font-size: 3em;
}

.sec10 .container .content .card button{
    margin-top: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem;
    width: 170px;
    letter-spacing: 1px;
    background: white;
    border: 2px solid #38B3FF;
    border-radius: 25px;
    color: #3c96ff;
}

.sec10 .container .content .card.blue{
    background-image: -webkit-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
    color: white;
}

.sec10 .container .content .card.blue p {
    color: white;
}

.sec10 .container .content .card:hover{
    background-image: -webkit-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
    color: white;
}

.sec10 .container .content .card:hover p{
    color: white;
}


@media screen and (max-width: 1050px){
    .sec10 .container .content{
        justify-content: center;
    }
}

/* Section 11 */

.sec11{
    width: 100%;
    padding: 5.25rem 0 0 0;
    background: #F6FBFD;
}

.sec11 .container{
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
}

.sec11 .container .left{
    width: 550px;
}

.sec11 .container .left img{
    width: 100%;
}

.sec11 .container .right{
    width: 550px;
    margin-left: 15px;
}

.sec11 .container .right h2{
    font-size: 2.5em;
    font-weight: 700;
    line-height: 50px;
}

.sec11 .container .right p{
    margin: 1rem 0 1.5rem 0;
    font-size: 1em;
    color: grey;
    line-height: 30px;
    font-weight: bold;
}

.sec11 .container .right .mobile{
    display: flex;
    width: 100%;
}

.sec11 .container .right .mobile .tel{
    width: 40%;
    height: 40px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    justify-content: center;
}

.sec11 .container .right .mobile .apple{
    margin-left: 1.2rem;
    background: white;
    color: #38B3FF;
    border: 2px solid #38B3FF;
}

.sec11 .container .right .mobile i{
    padding-right: 0.5rem;
}

.sec11 .container .right .mobile .android{
    background-image: -webkit-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
    color: white;
}

@media screen and (max-width: 1120px){
    .sec11 .container .left{
        width: 500px;
    }
}

@media screen and (max-width: 1000px){
    .sec11 .container .right h2{
        font-size: 2em;
    }
}

@media screen and (max-width: 900px){
    .sec11 .container{
        flex-direction: column-reverse;
    }

    .sec11 .container .left{
        margin-top: 2em;
    }
}

@media screen and (max-width: 550px){
    .sec11 .container .left,
    .sec11 .container .right{
        width: 100%;
    }

    .sec11 .container .right .mobile{
        flex-direction: column;
        width: 100%;
    }

    .sec11 .container .right .mobile .apple{
        margin: 12px 0 0 0;
        width: 100%;
    }

    .sec11 .container .right .mobile .android{
        width: 100%;
    }
}

/* Section 12 */

.sec12{
    width: 100%;
    padding: 4.25rem 25px;
}

.sec12 .container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: centeer;
    flex-direction: column;
}

.sec12 .container .title{
    margin-bottom: 3em;
    text-align: center;
}

.sec12 .container .title a{
    padding: 0.5rem 2rem;
    border-radius: 15px;
    background: #80b0e7;
    color: white;
    letter-spacing: 1.2px;
}

.sec12 .container .title h2{
    padding-top: 2rem;
    font-size: 2em;
    color:#3c96ff
}

.sec12 .container .content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sec12 .container .content .blog{
    margin: 15px;
    width: 370px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    background: white;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.sec12 .container .content .blog:hover{
    transform: translateY(-5px);
}

.sec12 .container .content .blog .blog-img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sec12 .container .content .blog .pad{
    padding: 3rem 1.9rem 1.9rem 1.9rem;
}

.sec12 .container .content .blog h2{
    font-size: 1.3em;
    margin-bottom: 1rem;
}

.sec12 .container .content .blog .publi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: grey;
    font-weight: bold;
}

.sec12 .container .content .blog .pp{
    position: absolute;
    top: 50%;
    left: 75%;
    width: 60px;
    height: 60px;
}


@media screen and (max-width: 1250px){
    .sec12 .container .content .blog{
        width: 330px;
    }
}

@media screen and (max-width: 1130px){
    .sec12 .container .content{
        justify-content: center;
    }
}

@media screen and (max-width: 400px){
    .sec12 .container .content .blog .pp{
        display: none;
    }

    .sec12 .container .content .blog .pad{
        padding: 2rem;
        text-align: center;
    }

    .sec12 .container .content .blog .publi{
        flex-direction: column;
        text-align: center;
    }

    .sec12 .container .content .blog h2{
        font-size: 1.2em;
    }
}

/* Section 13 Form */

.sec13{
    width: 100%;
    padding: 4.25rem 0;
}

.sec13 form{
    width: 1000px;
    background-color: #FFFFFF;
    margin: 0 auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 0.7rem;
    border-radius: 10px;
    cursor: pointer;
}


.sec13 form .title{
    margin-bottom: 1em;
    text-align: center;
    padding: 1rem 0;
}

.sec13 form .title a{
    padding: 0.5rem 2rem;
    border-radius: 15px;
    background: #80b0e7;
    color: white;
    letter-spacing: 1.2px;
}

.sec13 form .title h2{
    padding-top: 1.5rem;
    font-size: 2em;
    color:#3c96ff
}

.sec13 form .content-form{
    width: 100%;
    padding: 0.5rem;
}

.sec13 form .content-form .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec13 form .content-form .top input{
    width: 45%;
    text-align: center;
    padding: 15px 30px;
    border-radius: 30px;
    outline: none;
    border: 1px solid rgb(116, 116, 116);
    background: white;
}

.sec13 form .content-form .subject{
    width: 100%;
    text-align: center;
    padding: 15px 30px;
    border-radius: 30px;
    outline: none;
    border: 1px solid rgb(116, 116, 116);
    background: white;
    margin-top: 1.5rem;
}

.sec13 form .content-form .message{
    width: 100%;
    text-align: center;
    padding: 15px 30px;
    border-radius: 15px;
    outline: none;
    border: 1px solid rgb(116, 116, 116);
    background: white;
    margin-top: 1.5rem;
    height: 250px;
    margin-bottom: 1.5rem;
}

.sec13 form .content-form .mid-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec13 form .content-form button{
    color: white;
    width: 120px;
    border-radius: 30px;
    letter-spacing: 1px;
    background: #38B3FF;
    padding: 1rem;
    border: none;
    cursor: pointer;
    outline: none;

}



@media screen and (max-width: 1000px){
      .sec13 form{
        width: 100%;
        padding: 0 10px;
    }
}

@media screen and (max-width: 400px){
    .sec13 form .content-form .top{
        display: flex;
        flex-direction: column;
    }

    .sec13 form .content-form .top input{
        margin: 0.5rem 0;
        width: 100%;
    }
}

/* Footer */

footer{
    width: 100%;
    padding: 4.25rem 0;
    background-image: -webkit-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
}

footer .container{
    max-width: 1140px;
    margin: 0 auto;
}

footer .container .content{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container .content .block{
    width: 25%;
    color: white;
    padding: 0 15px;
}

footer .container .content .block p{
    font-size: 0.9em;
    font-weight: bold;
    line-height: 25px;
}

footer .container .content .block a{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    color: white;
    font-weight: normal;
}

footer .container .content .block h2{
    font-size: 1.3em;
    margin-bottom: 0.5rem;
}


@media screen and (max-width: 700px){
    footer .container .content{
        flex-direction: column;
        text-align: left;
    }

    footer .container .content .block{
        width: 100%;
        margin-bottom: 1.5em;
    }

    footer .container .content .block p{
        width: 500px;
    }
}


@media screen and (max-width: 515px){
    footer .container .content .block p{
        width: 100%;
    }
}